<apex:component ><style>
  .icon-case {
    display: inline-block;
    background-image: url(https://c.ap5.visual.force.com/resource/1526568185000/case);
    background-size: 60px;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}
.icon-kb {
    display: inline-block;
    background-image: url(https://c.ap5.visual.force.com/resource/1526568223000/kb);
    background-size: 60px;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}
.icon-docs {
    display: inline-block;
    background-image: url(https://c.ap5.visual.force.com/resource/1526568259000/document);
    background-size: 60px;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}
.icon-comm {
    display: inline-block;
    background-image: url(https://c.ap5.visual.force.com/resource/1526568287000/community);
    background-size: 60px;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}
</style>
<div id="search" class="CoveoSearchInterface" data-enable-history="true" data-design="new">

<div class="CoveoAnalytics"></div>
<div class="coveo-tab-section">
    <a class="CoveoTab" data-id="All" data-caption="All Content"></a>
</div>
<div class="coveo-search-section">
    <div class="CoveoSettings"></div>
    <div class="CoveoSearchbox" data-enable-omnibox="true"></div>
</div>
<div class="coveo-main-section">
    <div class="coveo-facet-column">
      <div class="CoveoFacet" data-title="My Facet" id="fileTypeFilter" data-field="@source"></div>
<div class="CoveoFacet" data-title="Type" data-field="@objecttype" data-tab="All"></div>
<div class="CoveoFacet" data-title="FileType" data-field="@filetype" data-tab="All"></div>
<div class="CoveoFacet" data-title="Author" data-field="@author" data-tab="All"></div>
<div class="CoveoFacet" data-title="Year" data-field="@year" data-tab="All"></div>
<div class="CoveoFacet" data-title="Month" data-field="@month" data-tab="All"></div></div>
    <div class="coveo-results-column">
        <div class="CoveoShareQuery"></div>
        <div class="CoveoPreferencesPanel">
            <div class="CoveoResultsPreferences"></div>
            <div class="CoveoResultsFiltersPreferences"></div>
        </div>
        <div class="CoveoTriggers"></div>
        <div class="CoveoBreadcrumb"></div>
        <div class="CoveoSearchAlerts"></div>
        <div class="coveo-results-header">
            <div class="coveo-summary-section">
                <span class="CoveoQuerySummary"></span>
                <span class="CoveoQueryDuration"></span>
            </div>
            <div class="coveo-result-layout-section">
                <span class="CoveoResultLayout"></span>
            </div>
            <div class="coveo-sort-section">
                <span class="CoveoSort" data-sort-criteria="relevancy" data-caption="Relevance"></span>
<span class="CoveoSort" data-sort-criteria="date descending,date ascending" data-caption="Date"></span>
            </div>
        </div>
        <div class="CoveoHiddenQuery"></div>
        <div class="CoveoDidYouMean"></div>
        <div class="CoveoErrorReport" data-pop-up="false"></div>
        <div class="CoveoResultList" data-layout="list" data-wait-animation="fade" data-auto-select-fields-to-include="true"><script type="text/html" data-field-objecttype="knowledge" class="result-template" id="My Salesforce Template"><div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:85px; text-align:center; padding-top:7px">
      <span class="CoveoIcon" data-value="icon-kb">
      </span>
      <span class="CoveoQuickview">
      </span>
    </div>
    <div class="coveo-result-cell" style="padding-left:15px">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:18px">
          <a class="CoveoResultLink">
          </a>
        </div>
        <div class="coveo-result-cell" style="width:120px; text-align:right;font-size:12px">
          <span class="CoveoFieldValue" data-field="@date" data-helper="date">
          </span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
          <div class="CoveoExcerpt">
          </div>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px; font-size:13px;">
          <table class="CoveoFieldTable">
            <tbody>
              <tr data-field="@sfaccountname" data-caption="Account">
              </tr>
              <tr data-field="@sfownername" data-caption="Owner">
              </tr>
              <tr data-field="@sfopportunityamountconverted" data-caption="Total" data-helper="currency">
              </tr>
              <tr data-field="@sfopportunitylicensingstotalcconverted" data-caption="License" data-helper="currency">
              </tr>
              <tr data-field="@sfopportunityamountsupportcconverted" data-caption="Support" data-helper="currency">
              </tr>
              <tr data-field="@sfopportunityconsultingstotalcconverted" data-caption="PS" data-helper="currency">
              </tr>
              <tr data-field="@sfopportunitystagename" data-caption="Stage">
              </tr>
              <tr data-field="@sfopportunitydealtypec" data-caption="Deal Type">
              </tr>
              <tr data-field="@sfopportunitycompetitionc" data-caption="Competition" data-split-values="true">
              </tr>
              <tr data-field="@sfibdusername" data-caption="ISR">
              </tr>
              <tr data-field="@sfopportunityregionc" data-caption="Region">
              </tr>
              <tr data-field="@sfleadsource" data-caption="Lead Source">
              </tr>
              <tr data-field="@sfleadstatus" data-caption="Lead status">
              </tr>
              <tr data-field="@worktitle" data-caption="Work title">
              </tr>
              <tr data-field="@sfemail" data-caption="Email" data-helper="email" data-html-value="true">
              </tr>
              <tr data-field="@sfcontactphone" data-caption="Phone">
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</script><script type="text/html" data-field-objecttype="casecomment" class="result-template" id="My SalesforceCase Template"><div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:85px; text-align:center; padding-top:7px">
      <span class="CoveoIcon" data-value="icon-docs">
      </span>
      <span class="CoveoQuickview">
      </span>
    </div>
    <div class="coveo-result-cell" style="padding-left:15px">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:18px">
          <a class="CoveoResultLink">
          </a>
        </div>
        <div class="coveo-result-cell" style="width:120px;text-align:right;font-size:12px;">
          <span class="CoveoFieldValue" data-field="@date" data-helper="date">
          </span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
          <div class="CoveoExcerpt">
          </div>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
          <table class="CoveoFieldTable">
            <tbody>
              <tr data-field="@sffcaseid" data-caption="Subject">
              </tr>
              <tr data-field="@sfcasesubject" data-caption="Subject">
              </tr>
              <tr data-field="@sfcasenumber" data-caption="Case Number">
              </tr>
              <tr data-field="@sfcasepriority" data-caption="Priority">
              </tr>
              <tr data-field="@sfcaseorigin" data-caption="Origin">
              </tr>
              <tr data-field="@sfaccountname" data-caption="Account Name">
              </tr>
              <tr data-field="@sfowner" data-caption="Owner">
              </tr>
              <tr data-field="@sfcasestatus" data-caption="Status">
              </tr>
              <tr data-field="@sfcontactname" data-caption="Contact">
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</script><script type="text/html" data-field-objecttype="case" class="result-template" id="My SalesforceCase Template"><div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:85px; text-align:center; padding-top:7px">
      <span class="CoveoIcon" data-value="icon-case">
      </span>
      <span class="CoveoQuickview">
      </span>
    </div>
    <div class="coveo-result-cell" style="padding-left:15px">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:18px">
          <a class="CoveoResultLink">
          </a>
        </div>
        <div class="coveo-result-cell" style="width:120px;text-align:right;font-size:12px;">
          <span class="CoveoFieldValue" data-field="@date" data-helper="date">
          </span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
          <div class="CoveoExcerpt">
          </div>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
          <table class="CoveoFieldTable">
            <tbody>
              <tr data-field="@sffcaseid" data-caption="Subject">
              </tr>
              <tr data-field="@sfcasesubject" data-caption="Subject">
              </tr>
              <tr data-field="@sfcasenumber" data-caption="Case Number">
              </tr>
              <tr data-field="@sfcasepriority" data-caption="Priority">
              </tr>
              <tr data-field="@sfcaseorigin" data-caption="Origin">
              </tr>
              <tr data-field="@sfaccountname" data-caption="Account Name">
              </tr>
              <tr data-field="@sfowner" data-caption="Owner">
              </tr>
              <tr data-field="@sfcasestatus" data-caption="Status">
              </tr>
              <tr data-field="@sfcontactname" data-caption="Contact">
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</script><script type="text/html" data-field-filetype="html" class="result-template" id="My Default Template"><div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:85px;text-align:center;padding-top:7px;">
      <span class="CoveoIcon" data-value="icon-comm">
      </span>
      <div class="CoveoQuickview">
      </div>
    </div>
    <div class="coveo-result-cell" style="padding-left:15px;">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:18px;">
          <a class="CoveoResultLink">
          </a>
        </div>
        <div class="coveo-result-cell" style="width:120px; text-align:right; font-size:12px">
          <span class="CoveoFieldValue" data-field="@date" data-helper="date">
          </span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell">
          <span class="CoveoExcerpt">
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:85px;text-align:center">
    </div>
    <div class="coveo-result-cell" style="font-size:13px;padding-left: 15px;">
      <table class="CoveoFieldTable">
        <tbody>
          <tr data-field="@author" data-caption="Author">
          </tr>
          <tr data-field="@source" data-caption="Source">
          </tr>
          <tr data-field="@language" data-caption="Language">
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</script>
            
        </div>
        <div class="CoveoPager"></div>
        <div class="CoveoResultsPerPage"></div>
    </div>
    
</div>
</div>
</apex:component>