<apex:component >
    <apex:attribute name="mobile" type="String" description="TODO: Describe me"/>
  <!-- Begin Default Content REMOVE THIS -->
  <h1>Congratulations</h1>
  This is your new Component: searchinterface
  <!-- End Default Content REMOVE THIS -->
</apex:component>