<apex:component >
<style>
.coveo-small-tabs .CoveoTab.coveo-selected {
    background-color: #006199;
}
.coveo-small-tabs .CoveoTab.coveo-selected:hover p {
    border-bottom: none;
}
.coveo-small-tabs .CoveoTab.coveo-selected p {
    border-bottom: 0;
    color: #fff;
}
.CoveoTab p {
    color: #575757;
}
.coveo-selected p {
  color: #fff;
  border-bottom: 0;
}
.CoveoTab {
    border-right: 1px solid #FFF;
    background-color: #EEE;
    padding: 0px 15px 2px 15px;
}
.coveo-tab-section {
  border-bottom: 0;
  background-color: transparent;
}
.CoveoSearchInterface.coveo-small-tabs .coveo-dropdown-header {
  height: 52px !important;
  display: inline-block;
  background-color: #eee;
}
.CoveoSearchInterface.coveo-small-tabs .coveo-dropdown-header p {
  line-height: 52px;
  color: #575757;
  font-weight: normal;
}
.coveo-small-tabs .coveo-tab-list li:first-child {
  margin-top: 0;
}
.coveo-small-tabs .coveo-tab-list li:last-child {
  margin-bottom: 0;
}
a.CoveoTab.coveo-accessible-button.coveo-tab-dropdown:hover {
  background-color: #03639a;
  text-decoration: none;
  width: 100%;
}
a.CoveoTab.coveo-accessible-button.coveo-tab-dropdown:hover p {
  color: #fff;
}
.coveo-tab-list-container .coveo-tab-list li a {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
</style>
<div id="search" class="CoveoSearchInterface" data-design="new" data-enable-history="true">
<div class="CoveoAnalytics" data-search-hub="iTalent2SHSujit"></div>
<div class="coveo-tab-section">
    <a class="CoveoTab" data-id="All" data-caption="All Content" data-expression="@objecttype==(Account, KnowledgeArticleVersion, Case, Contact, FeedItem, ContentDocument, Lead, Opportunity, User) (NOT @sftype==(ContentPost,CollaborationGroupCreated,CreateRecordEvent))"></a>
<a class="CoveoTab" data-id="SalesforceAccount" data-caption="Accounts" data-expression="@objecttype==(Account)"></a>
<a class="CoveoTab" data-id="SalesforceCase" data-caption="Cases" data-expression="@objecttype==(Case)"></a>
<a class="CoveoTab" data-id="SalesforceDocument" data-caption="Documents" data-expression="@objecttype==(ContentDocument)"></a>
<a class="CoveoTab" data-id="SalesforceLead" data-caption="Leads" data-expression="@objecttype==(Lead)"></a>
<a class="CoveoTab" data-id="SalesforceOpportunity" data-caption="Opportunities" data-expression="@objecttype==(Opportunity)"></a>
<a class="CoveoTab" data-id="SalesforceUser" data-caption="Users" data-expression="@objecttype==(User)"></a>
<a class="CoveoTab" data-id="SalesforceUserA" data-caption="User 1" data-expression="@objecttype==(User)"></a>
<a class="CoveoTab" data-id="SalesforceUserB" data-caption="Users 2" data-expression="@objecttype==(User)"></a>
<a class="CoveoTab" data-id="SalesforceUserC" data-caption="Most Popuar 3" data-expression="@objecttype==(User)"></a>
<a class="CoveoTab" data-id="SalesforceUserD" data-caption="Users 4" data-expression="@objecttype==(User)"></a>
<a class="CoveoTab" data-id="SalesforceUserE" data-caption="Users 5" data-expression="@objecttype==(User)"></a>
<a class="CoveoTab" data-id="SalesforceUserF" data-caption="Users 6" data-expression="@objecttype==(User)"></a>
<a class="CoveoTab" data-id="SalesforceUserG" data-caption="Most Popuar 7" data-expression="@objecttype==(User)"></a>
<a class="CoveoTab" data-id="SalesforceUserH" data-caption="Most Popuar 8" data-expression="@objecttype==(User)"></a>
<a class="CoveoTab" data-id="SalesforceUserI" data-caption="Users 9" data-expression="@objecttype==(User)"></a>
<a class="CoveoTab" data-id="SalesforceUserJ" data-caption="Most Popuar"  id="popularTab" data-expression="@objecttype==(User)"></a>
</div>
<div class="coveo-search-section"><div class="CoveoCommunityStateManager"></div></div>
<div class="coveo-main-section">
    <div class="coveo-facet-column">
<div class='CoveoFacet' data-title="Source" data-field='@source'></div>
<div class="CoveoFacet" data-title="Short by" data-field="@objecttype" data-custom-sort="case, knowledge, casecomment"></div>
<div class="CoveoFacet" data-title="Industry" data-field="@sfindustry" data-tab="SalesforceAccount"></div>
<div class="CoveoFacet" data-title="Owner" data-field="@sfownername" data-tab="SalesforceAccount"></div>
<div class="CoveoFacet" data-title="Created By" data-field="@sfcreatedbyname" data-tab="SalesforceAccount"></div>
<div class="CoveoFacet" data-title="Status" data-field="@sfstatus" data-tab="SalesforceCase"></div>
<div class="CoveoFacet" data-title="Priority" data-field="@sfpriority" data-tab="SalesforceCase"></div>
<div class="CoveoFacet" data-title="Type" data-field="@sftype" data-tab="SalesforceCase"></div>
<div class="CoveoFacet" data-title="Reason" data-field="@sfreason" data-tab="SalesforceCase"></div>
<div class="CoveoFacet" data-title="Origin" data-field="@sforigin" data-tab="SalesforceCase"></div>
<div class="CoveoFacet" data-title="Owner" data-field="@sfownername" data-tab="SalesforceCase"></div>
<div class="CoveoFacet" data-title="Created By" data-field="@sfcreatedbyname" data-tab="SalesforceCase"></div>
<div class="CoveoFacet" data-title="Account Name" data-field="@sfaccountname" data-tab="SalesforceContact"></div>
<div class="CoveoFacet" data-title="Lead Source" data-field="@sfleadsource" data-tab="SalesforceContact"></div>
<div class="CoveoFacet" data-title="Owner" data-field="@sfownername" data-tab="SalesforceContact"></div>
<div class="CoveoFacet" data-title="Created By" data-field="@sfcreatedbyname" data-tab="SalesforceContact"></div>
<div class="CoveoFacet" data-title="File Type" data-field="@sffiletype" data-tab="SalesforceDocument"></div>
<div class="CoveoFacet" data-title="Language" data-field="@sflanguage" data-tab="SalesforceDocument"></div>
<div class="CoveoFacet" data-title="Owner" data-field="@sfownername" data-tab="SalesforceDocument"></div>
<div class="CoveoFacet" data-title="Created By" data-field="@sfcreatedbyname" data-tab="SalesforceDocument"></div>
<div class="CoveoFacet" data-title="Company" data-field="@sfcompany" data-tab="SalesforceLead"></div>
<div class="CoveoFacet" data-title="Lead Source" data-field="@sfleadsource" data-tab="SalesforceLead"></div>
<div class="CoveoFacet" data-title="Status" data-field="@sfstatus" data-tab="SalesforceLead"></div>
<div class="CoveoFacet" data-title="Owner" data-field="@sfownername" data-tab="SalesforceLead"></div>
<div class="CoveoFacet" data-title="Created By" data-field="@sfcreatedbyname" data-tab="SalesforceLead"></div>
<div class="CoveoFacet" data-title="Type" data-field="@sftype" data-tab="SalesforceOpportunity"></div>
<div class="CoveoFacet" data-title="Account Name" data-field="@sfaccountname" data-tab="SalesforceOpportunity"></div>
<div class="CoveoFacet" data-title="Lead Source" data-field="@sfleadsource" data-tab="SalesforceOpportunity"></div>
<div class="CoveoFacet" data-title="Owner" data-field="@sfownername" data-tab="SalesforceOpportunity"></div>
<div class="CoveoFacet" data-title="Created By" data-field="@sfcreatedbyname" data-tab="SalesforceOpportunity"></div>
<div class="CoveoFacet" data-title="Company" data-field="@sfcompanyname" data-tab="SalesforceUser"></div>
<div class="CoveoFacet" data-title="Role" data-field="@sfuserrolename" data-tab="SalesforceUser"></div>
<div class="CoveoFacet" data-title="Departement" data-field="@sfdepartment" data-tab="SalesforceUser"></div></div>
    <div class="coveo-results-column">
        
        
        <div class="CoveoTriggers"></div>
        <div class="CoveoBreadcrumb"></div>
        <div class="CoveoSearchAlerts"></div>
        <div class="coveo-results-header">
            <div class="coveo-summary-section">
                <span class="CoveoQuerySummary"></span>
                <span class="CoveoQueryDuration"></span>
            </div>
            <div class="coveo-result-layout-section">
                <span class="CoveoResultLayout"></span>
            </div>
            <div class="coveo-sort-section">
                <span class="CoveoSort" data-sort-criteria="relevancy" data-caption="Relevance"></span>
<span class="CoveoSort" data-sort-criteria="date descending,date ascending" data-caption="Date"></span>
            </div>
        </div>
        <div class="CoveoHiddenQuery"></div>
        <div class="CoveoDidYouMean"></div>
        <div class="CoveoErrorReport" data-pop-up="false"></div>
        <div class="CoveoResultList" data-layout="list" data-wait-animation="fade" data-auto-select-fields-to-include="true">
            <script id="SalesforceAccount" class="result-template" type="text/html" data-field-objecttype="Account"><div class="coveo-result-frame" style="padding:0 16px 16px 0;">
    <div class="coveo-result-cell" style="vertical-align: top;width: 46px;text-align:right;">
        <span class="CoveoIcon" data-small="true" data-value="coveo-sprites-salesforce-standard-account"></span>
        <span class="CoveoQuickview" data-show-date="true"></span>
    </div>
    <div class="coveo-result-cell" style="vertical-align: top; padding-left:16px;">
        <div class="coveo-result-row" style="margin-top:0;">
            <div class="coveo-result-cell coveo-no-wrap" style="vertical-align: top; font-size: 16px;">
                <a class="CoveoSalesforceResultLink"></a>
            </div>
            <div class="coveo-result-cell" style="width:120px;text-align:right;font-size:12px">
                <div class="coveo-result-row">
                    <span class="CoveoFieldValue" data-field="@sflastmodifieddate" data-helper="date"></span>
                </div>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:12px;">
            <div class="coveo-result-cell">
                <span class="CoveoFieldValue" data-field="@sfdescription"></span>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:12px;">
            <div class="coveo-result-cell" style="line-height:1.5em;">
                <span class="CoveoFieldValue" data-field="@sfaccountnumber" data-text-caption="Account #" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sfannualrevenue" data-text-caption="Annual revenue" data-helper="currency" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sflocation" data-text-caption="Location" style="margin-right:30px;"></span>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:8px;">
            <div class="coveo-result-cell">
                <table class="CoveoFieldTable" data-minimized-by-default="true">
                    <tr data-caption="Owner" data-field="@sfownername"></tr>
                    <tr data-caption="Ownership" data-field="@sfownership"></tr>
                    <tr data-caption="Industry" data-field="@sfindustry"></tr>
                    <tr data-caption="Contact" data-field="@sfcontactname"></tr>
                    <tr data-caption="Location" data-field="@sflocation"></tr>
                </table>
            </div>
        </div>
    </div>
</div></script><script id="SalesforceCase" class="result-template" type="text/html" data-field-objecttype="Case"><style>.icon-ping {
    display: inline-block;
    background-image: url(https://www.pingidentity.com/etc/designs/pic/clientlibs-all/logos/PingIdentity_logo.png);
    background-size: 40px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}</style>
<div class="coveo-result-frame" style="padding:0 16px 16px 0;">
    <div class="coveo-result-cell" style="vertical-align: top;width: 46px;text-align:right;">
        <span class="CoveoIcon" data-value="icon-ping"></span>
<span class="CoveoQuickview"></span></div>
    <div class="coveo-result-cell" style="vertical-align: top;padding-left:16px;">
        <div class="coveo-result-row" style="margin-top:0;">
            <div class="coveo-result-cell coveo-no-wrap" style="vertical-align: top; font-size: 16px;">
                <a class="CoveoSalesforceResultLink" data-title-template="${title} #${raw.sfcasenumber}"></a>
            </div>
            <div class="coveo-result-cell" style="width:120px;text-align:right;font-size:12px">
                <div class="coveo-result-row">
                    <span class="CoveoFieldValue" data-field="@sflastmodifieddate" data-helper="date"></span>
                </div>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:12px;">
            <div class="coveo-result-cell">
                <span class="CoveoFieldValue" data-field="@sfdescription"></span>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:8px;">
            <div class="coveo-result-cell" style="line-height:1.5em;">
                <span class="CoveoFieldValue" data-field="@sfpriority" data-text-caption="Priority" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sfownername" data-text-caption="Owner" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sfstatus" data-text-caption="Status" style="margin-right:30px;"></span>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:8px;">
            <div class="coveo-result-cell">
                <table class="CoveoFieldTable" data-minimized-by-default="true">
                    <tbody>
                        <tr data-caption="Origin" data-field="@sforigin"></tr>
                        <tr data-caption="Account" data-field="@sfaccountname"></tr>
                        <tr data-caption="Reason" data-field="@sfreason"></tr>
                        <tr data-caption="Contact" data-field="@sfcontactname"></tr>
                        <tr data-caption="Created" data-field="@sfcreateddate" data-helper="dateTime"></tr>
                        <tr data-caption="Closed" data-field="@sfcloseddate" data-helper="dateTime"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div></script><script id="SalesforceContact" class="result-template" type="text/html" data-field-objecttype="Contact"><div class="coveo-result-frame" style="padding:0 16px 16px 0;">
    <div class="coveo-result-cell" style="vertical-align: top;width: 46px;text-align:right;">
        <span class="CoveoIcon" data-small="true" data-value="coveo-sprites-salesforce-standard-contact"></span>
    </div>
    <div class="coveo-result-cell" style="vertical-align: top;padding-left:16px;">
        <div class="coveo-result-row" style="margin-top:0;">
            <div class="coveo-result-cell coveo-no-wrap" style="vertical-align: top; font-size: 16px;">
                <a class="CoveoSalesforceResultLink"></a>
            </div>
            <div class="coveo-result-cell" style="width:120px;text-align:right;font-size:12px">
                <div class="coveo-result-row">
                    <span class="CoveoFieldValue" data-field="@sflastmodifieddate" data-helper="date"></span>
                </div>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:12px;">
            <div class="coveo-result-cell">
                <span class="CoveoFieldValue" data-field="@sfdescription"></span>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:8px;">
            <div class="coveo-result-cell" style="line-height:1.5em;">
                <span class="CoveoFieldValue" data-field="@sfaccountname" data-text-caption="Account name" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sfphone" data-text-caption="Phone" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sfemail" data-text-caption="Email" style="margin-right:30px;"></span>
            </div>
        </div>
    </div>
</div></script><script id="SalesforceDocument" class="result-template" type="text/html" data-field-objecttype="ContentDocument"><div class="coveo-result-frame" style="padding:0 16px 16px 0;">
    <div class="coveo-result-cell" style="vertical-align:top; width:120px; text-align:left">
        <span class="CoveoSalesforceThumbnail"></span>
    </div>
    <div class="coveo-result-cell" style="vertical-align: top; padding-left:16px;">
        <div class="coveo-result-row" style="margin-top:0;">
            <div class="coveo-result-cell coveo-no-wrap" style="vertical-align: top; font-size: 16px;">
                <a class="CoveoSalesforceResultLink"></a>
            </div>
            <div class="coveo-result-cell" style="width:120px;text-align:right;font-size:12px">
                <div class="coveo-result-row">
                    <span class="CoveoFieldValue" data-field="@sflastmodifieddate" data-helper="date"></span>
                </div>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:12px;">
            <div class="coveo-result-cell">
                <span class="CoveoFieldValue" data-field="@sfdescription"></span>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:8px;">
            <div class="coveo-result-cell" style="line-height:1.5em;">
                <span class="CoveoFieldValue" data-field="@sfownername" data-text-caption="Owner" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sffiletype" data-text-caption="Type" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sflanguage" data-text-caption="Language" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sfparentname" data-text-caption="Parent"></span>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:8px;">
            <div class="coveo-result-cell">
                <table class="CoveoFieldTable" data-minimized-by-default="true">
                    <tbody><tr data-caption="Created by" data-field="@sfcreatedbyname"></tr>
                    <tr data-caption="Last modified by" data-field="@sfcontentmodifiedbyname"></tr>
                </tbody></table>
            </div>
        </div>
    </div>
</div></script><script id="SalesforceLead" class="result-template" type="text/html" data-field-objecttype="Lead"><div class="coveo-result-frame" style="padding:0 16px 16px 0;">
    <div class="coveo-result-cell" style="vertical-align: top;width: 46px;text-align:right;">
        <span class="CoveoIcon" data-small="true" data-value="coveo-sprites-salesforce-standard-lead"></span>
    </div>
    <div class="coveo-result-cell" style="vertical-align: top;padding-left:16px;">
        <div class="coveo-result-row" style="margin-top:0;">
            <div class="coveo-result-cell coveo-no-wrap" style="vertical-align: top; font-size: 16px;">
                <a class="CoveoSalesforceResultLink"></a>
            </div>
            <div class="coveo-result-cell" style="width:120px;text-align:right;font-size:12px">
                <div class="coveo-result-row">
                    <span class="CoveoFieldValue" data-field="@sflastmodifieddate" data-helper="date"></span>
                </div>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:12px;">
            <div class="coveo-result-cell">
                <span class="CoveoFieldValue" data-field="@sfdescription"></span>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:8px;">
            <div class="coveo-result-cell" style="line-height:1.5em;">
                <span class="CoveoFieldValue" data-field="@sfcompany" data-text-caption="Company" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sfdivision" data-text-caption="Division" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sfindustry" data-text-caption="Industry" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sfleadsource" data-text-caption="Lead source" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sfstatus" data-text-caption="Lead status" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sfannualrevenue" data-text-caption="Annual revenue" style="margin-right:30px;" data-helper="currency"></span>
            </div>
        </div>
    </div>
</div></script><script id="SalesforceOpportunity" class="result-template" type="text/html" data-field-objecttype="Opportunity"><div class="coveo-result-frame" style="padding:0 16px 16px 0;">
    <div class="coveo-result-cell" style="vertical-align: top;width: 46px;text-align:right;">
        <span class="CoveoIcon" data-small="true" data-value="coveo-sprites-salesforce-standard-opportunity"></span>
    </div>
    <div class="coveo-result-cell" style="vertical-align: top;padding-left: 16px;">
        <div class="coveo-result-row" style="margin-top:0;">
            <div class="coveo-result-cell coveo-no-wrap" style="vertical-align: top; font-size: 16px;">
                <a class="CoveoSalesforceResultLink"></a>
            </div>
            <div class="coveo-result-cell" style="width:120px;text-align:right;font-size:12px">
                <div class="coveo-result-row">
                    <span class="CoveoFieldValue" data-field="@sflastmodifieddate" data-helper="date"></span>
                </div>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:12px;">
            <div class="coveo-result-cell">
                <span class="CoveoFieldValue" data-field="@sfdescription"></span>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:8px;">
            <div class="coveo-result-cell" style="line-height:1.5em;">
                <span class="CoveoFieldValue" data-field="@sfownername" data-text-caption="Owner" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sfaccountname" data-text-caption="Account" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sfamount" data-text-caption="Amount" style="margin-right:30px;" data-helper="currency"></span>
                <span class="CoveoFieldValue" data-field="@sfexpectedRevenue" data-text-caption="Expected revenue" style="margin-right:30px;" data-helper="currency"></span>
                <span class="CoveoFieldValue" data-field="@sfleadsource" data-text-caption="Lead source" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sftype" data-text-caption="Type"></span>
            </div>
        </div>
    </div>
</div></script><script id="SalesforceUser" class="result-template" type="text/html" data-field-objecttype="User"><div class="coveo-result-frame" style="padding:0 16px 16px 0;">
    <div class="coveo-result-cell" style="vertical-align: top;width: 46px;text-align:right;">
        <span class="CoveoIcon" data-small="true" data-value="coveo-sprites-salesforce-standard-user"></span>
    </div>
    <div class="coveo-result-cell" style="vertical-align: top; padding-left:16px;">
        <div class="coveo-result-row" style="margin-top:0;">
            <div class="coveo-result-cell coveo-no-wrap" style="vertical-align: top; font-size: 16px;">
                <a class="CoveoSalesforceResultLink"></a>
            </div>
            <div class="coveo-result-cell" style="width:120px;text-align:right;font-size:12px">
                <div class="coveo-result-row">
                    <span class="CoveoFieldValue" data-field="@sflastmodifieddate" data-helper="date"></span>
                </div>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:12px;">
            <div class="coveo-result-cell">
                <span class="CoveoFieldValue" data-field="@sfaboutme"></span>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:8px;">
            <div class="coveo-result-cell" style="line-height:1.5em;">
                <span class="CoveoFieldValue" data-field="@sfcontactname" data-text-caption="Contact" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sfcompanyname" data-text-caption="Company" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sfdepartment" data-text-caption="Department" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sfdivision" data-text-caption="Division" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sftitle" data-text-caption="Title" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sfrole" data-text-caption="Role" ></span>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:8px;">
            <div class="coveo-result-cell">
                <table class="CoveoFieldTable" data-minimized-by-default="true" data-minimized-title="Contact information">
                    <tr data-caption="Company" data-field="@sfcompanyname"></tr>
                    <tr data-caption="Email" data-field="@sfemail"></tr>
                    <tr data-caption="Phone" data-field="@sfphone"></tr>
                    <tr data-caption="Extension" data-field="@sfextension"></tr>
                </table>
            </div>
        </div>
    </div>
</div></script><script id="Default" class="result-template" type="text/html"><div class="coveo-result-frame" style="padding:0 16px 16px 0;">
    <div class="coveo-result-cell" style="vertical-align: top;width: 46px;text-align:right;">
        <span class="CoveoIcon" data-small="true" data-value="coveo-sprites-salesforce-standard-custom"></span>
    </div>
    <div class="coveo-result-cell" style="vertical-align: top;padding-left: 16px;">
        <div class="coveo-result-row" style="margin-top:0;">
            <div class="coveo-result-cell coveo-no-wrap" style="vertical-align: top; font-size: 16px;">
                <a class="CoveoSalesforceResultLink"></a>
            </div>
            <div class="coveo-result-cell" style="width:120px;text-align:right;font-size:12px">
                <div class="coveo-result-row">
                    <span class="CoveoFieldValue" data-field="@sflastmodifieddate" data-helper="date"></span>
                </div>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:12px;">
            <div class="coveo-result-cell">
                <span class="CoveoFieldValue" data-field="@sfdescription"></span>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:8px;">
            <div class="coveo-result-cell">
                <span class="CoveoFieldValue" data-field="@sfcreatedbyname" data-text-caption="Created by" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sfownername" data-text-caption="Owner" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sfaccountname" data-text-caption="Account" style="margin-right:30px;"></span>
                <span class="CoveoFieldValue" data-field="@sftype" data-text-caption="Type"></span>
            </div>
        </div>
    </div>
</div></script>
        </div>
        <div class="CoveoResultList" data-layout="card" data-wait-animation="fade" data-auto-select-fields-to-include="true">
            <script id="LithiumCardView" class="result-template" type="text/underscore">
                <div class="coveo-result-frame">
                    <div class="coveo-result-row" style="margin-bottom: 10px">    
                        <div class="coveo-result-cell" style="width:32px; vertical-align:middle; flex-grow:0">      
                            <% if(raw.syssourcetype !== "Lithium") { %> 
                             <span class="CoveoIcon"></span>
                            <% } %>
                            <% if(raw.syssourcetype == "Lithium") { %>
                          
                                <% if(raw.liboardinteractionstyle == "forum") { %><img style="color: #b1b3b3" src="${skin.images.icon_board.url}" data-small="false"><% } %>
                                <% if(raw.limessageissolution == "True") { %><img style="color: #b1b3b3" src="${skin.images.message_type_solution.url}"><% } %>
                                <% if(raw.liboardinteractionstyle == "tkb") { %><img style="color: #b1b3b3" src="${skin.images.icon_tkb_board.url}"><% } %>
                                <% if(raw.liboardinteractionstyle == "blog") { %><img style="color: #b1b3b3" src="${skin.images.icon_message_originating.url}"><% } %>
                                <% if(raw.liboardinteractionstyle == "idea") { %><img style="color: #b1b3b3" src="${skin.images.icon_ideas_thread_originating.url}"><% } %>
                                <% if(raw.liboardinteractionstyle == "contest") { %><img style="color: #b1b3b3" src="${skin.images.icon_contest_board.url}"><% } %>
                                <% if(raw.liboardinteractionstyle == "group") { %><img style="color: #b1b3b3" src="${skin.images.icon_group_board.url}"><% } %>
                                <% if(raw.filetype == "lithiumcategory") { %><img style="color: #b1b3b3" src="${skin.images.icon_up_level.url}"><% } %>
                            <% } %>
                          
                        </div>
                        <div class="coveo-result-cell" style="padding-left: 10px; vertical-align: middle;">
                          <a class="CoveoResultLink" data-always-open-in-new-window='true'></a>                 
                        </div> 
                    </div>
                    <div class="coveo-result-row">    
                      <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">                
                        <span class="CoveoExcerpt"></span>
                      </div>
                    </div>
                    <div class="coveo-result-row">
                      <div class="coveo-result-cell">
                          <div class="CoveoText" data-value="Modified" data-weight="bold"></div>
                          <div class="CoveoFieldValue" data-field="@date" data-helper="emailDateTime" data-helper-options-always-include-time="true"></div>
                      </div>
                    </div>
                    
                            <div class="CoveoCardActionBar">
                         
                              <span class="CoveoQuickview"></span>
                           
                            <% if(raw.syssourcetype == "Lithium") { %>          
                            <div class="CoveoCardOverlay" data-title="Details" data-icon="coveo-sprites-main-search-active">
                                <table class="CoveoFieldTable" data-allow-minimization="false">        
                                  <tbody>          
                                    <tr data-field="@liboardshorttitle" data-caption="Board">          </tr>
                                    <tr data-field="@licategoryshorttitle" data-caption="Category">          </tr>          
                                    <tr data-field="@limessageauthor" data-caption="Author">          </tr>          
                                    <tr data-field="@limessagerating" data-caption="Rating">          </tr>
                                    <tr data-field="@limessagetags" data-caption="Tags" data-split-values="true">          </tr>
                                    <tr data-field="@litopicviewcount" data-caption="View Count">          </tr>
                                  </tbody>
                                </table>
                            </div>
                          <% } %>
                            <div class="CoveoCardOverlay" data-title="Replies" data-icon="coveo-sprites-replies">   
                            <!-- <% if(_.size(childResults)>0) {%>  -->  
                                <span class="CoveoResultFolding" data-result-template-id="CardLithiumChildResult"></span>  
                            <!-- <% } %> -->
                            </div>
                      <!--<div class="CoveoFollowItem"></div> -->
                                        
                    </div>
                </div>
            </script>
        </div>
        <div class="CoveoPager"></div><style>
        .coveo-facet-value-count {
          visibility: hidden;
        }
        </style>
        <div class="CoveoResultsPerPage"></div>
    </div>
    
</div>
</div>

</apex:component>