.THIS {
}
 
.THIS .CoveoResultLink, .THIS a.CoveoResultLink, .THIS .CoveoResult a.CoveoResultLink {
    color: #006199;
}
 
.THIS .coveo-facet-value.coveo-facet-search-button {
    color: #006199;
}
 
.THIS .CoveoQuickview {
    color: #006199;
}
 
.THIS .filetype.youtubevideo {
    background-image: url(/resource/UWMSearchIcons/assets/img/Youtube.png) !important;
    background-position: 0px 0px !important;
    background-size: 55px 55px !important;
    height: 55px;
    width: 55px;
}
 
.THIS .filetype.pdf {
    background-image: url(/resource/UWMSearchIcons/assets/img/PDF.png) !important;
    background-position: 0px 0px !important;
    background-size: 43px 56px !important;
    height: 56px;
    width: 43px;
}
 
.THIS .filetype.html {
    background-image: url(/resource/UWMSearchIcons/assets/img/HTML.png) !important;
    background-position: 0px 0px !important;
    background-size: 42px 42px !important;
    height: 42px;
    width: 42px;
}
 
.THIS .objecttype.uwm_information, .THIS .objecttype.internal_content, .THIS .objecttype.mortgage_knowledge, .THIS .objecttype.internal_and_client_content, .THIS .objecttype.internal_and_client_content_pdf , .THIS .objecttype.internal_content_pdf {
    background-image: url(/resource/UWMSearchIcons/assets/img/Newspaper.png) !important;
    background-position: 0px 0px !important;
    background-size: 60px 56px !important;
    height: 56px;
    width: 60px;
}
 
.THIS .filetype.doc, .THIS .filetype.xls {
    background-image: url(/resource/UWMSearchIcons/assets/img/Form.png) !important;
    background-position: 0px 0px !important;
    background-size: 50px 53px !important;
    height: 53px;
    width: 50px;
}